<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="tech11autov1">

	<listeners>
		<listener class-name="com.tech11autoui.utilities.Reporting" />
	</listeners>


	<test name="tech11 Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.tech11autoui.TestCases.Testgooglesearch" />


		</classes>

	</test>

</suite>